<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-bottom" th:fragment="footer">
        <div class="container">
            <p class="navbar-text pull-left">© 2017 - Meeting Organizer Aleksander Kołata</p>
        </div>
    </div>
    <div th:fragment="scripts">
        <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </div>
</body>
</html>