<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html ;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{homePage.title}">Home</title>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/css/style.css}"
          href="../static/css/style.css"
          rel="stylesheet"
          type="text/css" />
</head>
<body>
    <div th:replace="fragments/navigation :: navbar">
        <p>Navigation</p>
    </div>
    <div class="container">



    </div>
    <div th:replace="fragments/footer :: scripts">
        <p>Scripts</p>
    </div>
    <div th:replace="fragments/footer :: footer">
        <p>Footer</p>
    </div>
</body>
</html>