<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html ;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{locationPage.browseLocations.title}">Browse places</title>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/css/style.css}"
          href="../../static/css/style.css"
          rel="stylesheet"
          type="text/css"/>
</head>
<body>
<div th:replace="fragments/common :: navbar">
    <p>Navbar</p>
</div>
<div class="container">
    <div th:replace="location/locationOptions :: locationOptionsThumbnails">
        <p>Location options</p>
    </div>
</div>
<div th:replace="fragments/common :: footer">
    <p>Footer</p>
</div>
<div th:replace="fragments/common :: scripts">
    <p>Scripts</p>
</div>
<script th:src="@{/js/location.js}" src="../resources/static/location.js"></script>
</body>
</html>